body {
    font: italic small-caps bold 16px/2 cursive;
    background-image: url("main_image.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: scroll;
}

h1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
    background: rgb(184, 225, 252);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(144, 186, 228, 1) 25%, rgba(144, 188, 234, 1) 37%, rgba(144, 191, 240, 1) 50%, rgba(107, 168, 229, 1) 51%, rgba(162, 218, 245, 1) 83%, rgba(189, 243, 253, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(144, 186, 228, 1) 25%, rgba(144, 188, 234, 1) 37%, rgba(144, 191, 240, 1) 50%, rgba(107, 168, 229, 1) 51%, rgba(162, 218, 245, 1) 83%, rgba(189, 243, 253, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 10%, rgba(144, 186, 228, 1) 25%, rgba(144, 188, 234, 1) 37%, rgba(144, 191, 240, 1) 50%, rgba(107, 168, 229, 1) 51%, rgba(162, 218, 245, 1) 83%, rgba(189, 243, 253, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd', GradientType=0);
    /* IE6-9 */
    font-size: 300%;
    text-align: center;
    color: darkblue;
    text-shadow: 10px 10px 10px black, 10px 10px 20px orange, 10px 10px 30px red;
}

h2 {
    float: right;
    font-size: 200%;
}

nav {
    border: 1rem solid;
    width: 80%;
    background-color: slateblue;
}

nav>a {
    font-size: 230%;
    color: white;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+51,0a0809+100;Black+Gloss */
    background: rgb(174, 188, 191);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(174, 188, 191, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 51%, rgba(10, 8, 9, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(174, 188, 191, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 51%, rgba(10, 8, 9, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(174, 188, 191, 1) 0%, rgba(110, 119, 116, 1) 50%, rgba(10, 14, 10, 1) 51%, rgba(10, 8, 9, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809', GradientType=0);
    /* IE6-9 */
    margin: 40px;
}

nav>a:hover {
    color: yellow;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    font-size: 40px;
    float: right;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
}

.speech-bubble2 {
    position: relative;
    background: #eedf17;
    border-radius: .4em;
    font-size: 40px;
    display: inline-block;
}

.speech-bubble2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #eedf17;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}

#start {
    padding: 30px;
}

#chats {
    padding: 30px;
}

footer>div {
    width: 100%;
    height: 300px;
    font-size: 25px;
    display: inline-block;
    font-family: serif;
}

#uni_logo {
    width: 350px;
    height: 150px;
    float: right;
}